* {
  font-family: "Cairo", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --main-color: #2196f3;
  --transparent-color: #1787e0;
  --section-background: #ececec;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --background: #d1deec;
  /* --background: #f0f2f5; */
  --foreground: #f1f3f5;
  --gray: #6e6e6e;
  --shadow: #76767663;
  --border: #cfcfcf;

  --blue-color: #0075ff;
  --blue-color-alt: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 0) {
  .container {
    max-width: 97%;
  }
}

@media (min-width: 1100px) {
  .container {
    max-width: 999px !important;
  }
}

body {
  background-color: var(--background);
  /* font-family: "Open-Sans", sans-serif; */
  margin: 0;
  /* position: relative; */
}

body.hide-scrollbar {
  overflow: hidden;
  padding-right: 15px;
}

::-webkit-scrollbar {
  width: 15px;
  height: 13px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--red-color);
  cursor: pointer;
}

.edit-profile img {
  width: 131px;
  height: 131px;
}

@media (max-width: 575px) {
  .edit-profile .input-group span,
  .edit-profile .input-group input {
    font-size: 1rem;
  }

  .edit-profile .form-floating input,
  .edit-profile .form-floating label {
    font-size: 0.79rem;
  }

  .change-password .modal-header h4 ,
  .change-password .modal-body label {
    font-size: 1rem !important;
  }
}

.post .image {
  width: 51px;
  height: 51px;
}

.shared-post .image {
  width: 39px;
  height: 39px;
}

.post .post-media-section > div {
  flex: 1;
}

@media (max-width: 575px) {
  .post {
    padding: 10px 8px !important;
  }

  .post .image {
    width: 39px;
    height: 39px;
  }

  .post h5 {
    font-size: 1rem;
  }

  .post small {
    font-size: 0.71rem;
  }

  .post p {
    font-size: 0.79rem;
  }

  .post .post-media-section {
    flex-wrap: wrap;
  }

  .post .post-media-section > div {
    flex: 1 1 calc(50% - 10px);
  }

  .shared-post {
    padding: 15px 11px !important;
  }

  .shared-post .image {
    width: 31px;
    height: 31px;
  }

  .post .action-buttons {
    font-size: 0.77rem;
  }

  .post .dropdown-menu {
    font-size: 0.79rem;
  }

  .post .dropdown-menu .dropdown-item {
    padding: 5px 10px;
  }
}

.post .post-media-section img,
.post .post-media-section video {
  /* border: 1px solid #ccc; */
  object-fit: fill;
}

.post .action-buttons div span:first-child:hover {
  text-decoration: underline;
}

.post .action-buttons div span.liked:last-child,
.post .action-buttons div span.like:hover {
  color: var(--blue-color);
  transition: color 0.1s;
}

.manage-post img {
  width: 57px;
  height: 57px;
}

.manage-post textarea {
  outline: none;
  resize: none;
  /* min-height: 501px; */
}

.previewContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.previewContainer .preview-item img,
.previewContainer .preview-item video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.item-overlay svg {
  font-size: 31px;
}

.show-post-media,
.manage-post-media {
  z-index: 1099;
}

.show-post-media .container div:first-child,
.manage-post-media .container div:first-child {
  border-bottom: 1px solid #aaaaaa;
}

.show-post-media .content,
.manage-post-media .content {
  background-color: var(--background);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  padding: 10px;
  max-height: 79vh;
  min-height: 199px;
  overflow-y: auto;
}

.manage-post-media .media-item img,
.manage-post-media .media-item video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.manage-post-media .media-item button {
  background-color: lightgray;
}

@media (max-width: 575px) {
  .manage-post img {
    width: 45px;
    height: 45px;
  }

  .manage-post h5,
  .manage-post textarea {
    font-size: 1rem !important;
  }

  .manage-post .upload-media button {
    font-size: 0.91rem;
  }

  .manage-post .post-btn {
    font-size: 1.09rem !important;
  }

  .manage-post .modal-footer {
    padding: 6px 10px;
  }
}

.overlay {
  background-color: rgb(255 255 255 /59%);
  /* background-color: rgb(23 135 244 / 15.9%); */
  min-height: 100vh;
}

.likers,
.comments {
  z-index: 1021;
}

.loading {
  z-index: 1057;
}

.likers .container {
  max-width: 555px;
  max-height: 501px;
  overflow: hidden;
  overflow-y: visible;
}

.likers .liker:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.likers .liker:hover {
  background-color: #efefef;
  transition: var(--main-transition);
}

.likers .close-btn:hover,
.comments .close-btn:hover {
  transition: var(--main-transition);
  background-color: white !important;
  color: var(--bs-danger) !important;
}

.likers .image {
  width: 77px;
  height: 77px;
}

.comments .container {
  max-width: 777px;
}

.comments .content {
  max-height: 399px;
  overflow: hidden;
  overflow-y: visible;
}

.comments .image img {
  width: 55px;
  height: 55px;
}

.comments .comment div .info {
  background-color: #b5bbc52e;
}

.comments .create-comment {
  background-color: #b5bbc52e !important;
}

.comments .create-comment textarea {
  outline: none;
  resize: none;
}

.edit-comment img {
  width: 57px;
  height: 57px;
}

.edit-comment textarea {
  outline: none;
  resize: none;
  /* min-height: 501px; */
}

.share img {
  width: 59px;
  height: 59px;
}

.share .share-input {
  outline: none;
  resize: none;
}

.alert-message {
  z-index: 9999;
}

@media (max-width: 791px) {
  .comments .container {
    max-width: 555px;
  }
}

@media (max-width: 575px) {
  .likers .container {
    max-width: 97%;
  }

  .likers .liker {
    font-size: 1.19rem;
  }

  .comments .container {
    max-width: 97%;
  }

  .comments .comment {
    padding: 10px 8px !important;
  }

  .comments .comment .info {
    margin-bottom: 0.09rem !important;
  }

  .likers h2,
  .comments h2 {
    font-size: 1.15rem;
  }

  .likers .liker .image,
  .comments .comment .image img,
  .comments .create-comment img,
  .share img,
  .edit-comment img {
    width: 47px;
    height: 47px;
  }

  .comments .comment h5 {
    font-size: 1rem;
  }

  .comments .comment small {
    font-size: 0.71rem;
  }

  .comments .comment .dropdown-menu {
    font-size: 0.79rem;
  }

  .comments .comment .dropdown-menu .dropdown-item {
    padding: 5px 10px;
  }

  .comments .create-comment textarea,
  .edit-comment textarea {
    font-size: 0.91rem !important;
  }

  .edit-comment .modal-footer button {
    font-size: 1.09rem !important;
  }
}
