* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 0) {
  .container {
    max-width: 97%;
  }
}

@media (min-width: 1100px) {
  .container {
    max-width: 999px !important;
  }
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #d1deec;
  margin: 0;
}

.overlay {
  background-color: rgb(255 255 255 /59%);
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #45a049;
  color: white;
}
